body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3a474e;
    margin: 0;
}

h1 {
    padding-left: 71px;
    padding-top: 25px;
}

h1 span {
    color: #000;
    margin: 5px 0;
    padding: 5px 25px 5px;
    background-color: #fff;
    font-size: 17px;
    line-height: 20px;
}

form {
    width: 600px;
    padding: 20px;
    padding-top: 38px;
}

.header {
    padding: 20px;
}

.bannerText {
    min-height: 150px;
    background-color: #4af;
    display: flex;
}

/* CSS ADDED*/
.mark-required{margin:0 0 15px;color:#444;font-family:"Arial",sans-serif;font-size:13px;font-weight:bold;}
.has-error {
    color: red
}
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}